---
import { Markdown } from 'astro/components';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Framework">
    <div class="prose">
        <Markdown>
            Markdown goes here.

            __here's more__

            * and
            * more
            * again
        </Markdown>
    </div>
</Layout>
