---
import { Markdown } from 'astro/components';
import Layout from '../layouts/Layout.astro';
import Quality from '../components/Quality.astro';
---

<Layout title="Framework">
  <h1 class="page-title mb-4">FAME Framework</h1>

  <div class="text-gray-600 italic flex flex-wrap gap-x-4 gap-y-2 mb-8">
    <span>Version: 1.0 (Draft)</span>
    <span>Author: A Dickens</span>
    <span>Last Edited: Feb 9, 2022</span>
  </div>

  <div class="prose sm:prose-lg max-w-full mb-16">
    <Markdown>
      ## Introduction

      The Facilitating Access to Musical Experiences (FAME) framework addresses the accessibility requirements of digital musical instruments (DMIs) in the context of inclusive music practice and facilitated performance. The documents within it aim to help DMI creators better understand the needs of disabled performers and facilitators. Including ways in which to incorporate accessibility into product design and evaluate existing products against accessibility guidelines. Additionally, the framework outlines the general best practices for accessibility in inclusive music making.

      Included in the framework are the following documents:

      * Reviewing DMIs using the FAME framework
      * A guide to facilitated performance
      * A list of facilitator personas
      * A log sheet designed to allow facilitators and disabled performers to capture additional data for music making sessions (such as specific DMI settings).

      The approach taken by this framework is not to provide a way to 'score' the accessibility of a DMI. After all, there is no one size fits all approach to accessibility. Therefore, an accessibility 'score' cannot respect the unique experiences of disabled people. Instead, the goal of this framework is to provide a way to help DMI creators understand the current accessibility barriers that a DMI presents and reflect upon these.

      It is also important to acknowledge that accessibility is not a one time fix. This framework should be used repeatedly throughout the production lifecycle of DMIs.

      ## Who is this framework for?

      The following groups of people may find this framework useful:

      * __Digital Musical Instrument Creators__ - This includes all people who may be involved in the process of creating digital musical instruments. For example developers, designers, product managers, and manufacturers.

      * __Accessible Music Making Communities__ - Including facilitators, teachers, independent musicians, program managers, and people who purchase DMIs for community programs.

      * __Researchers__ - any person conducting research in the following areas: digital musical instruments, accessible or inclusive music making, accessible technologies, and accessibility standards.

      ## Important Terminology

      * __Digital Musical Instrument__ - A Digital Musical Instrument (DMI) is a device that produces sound using digital technology. They can come in many forms, including some that mimic the look and feel of traditional acoustic instruments.

      * __Accessible or Inclusive Music__ - These two terms are used interchangeably. The terms refer to music activities that are inclusive of disabled performers or specifically aimed at engaging groups of disabled musicians.

      * __Facilitated Performance__ - Facilitated Performance is a term used to describe the practice in which a musician or performer is supported by another person (a facilitator). Facilitators can offer musical, technical, or physical support for a person depending on their needs.

      ## Core Qualities

      To understand a DMIs level of accessibility, this framework examines five core qualities of digital musical instruments:

      <Quality title="Durability" icon="durability" tw="q !border-durable mb-4">
        Durability questions how robust the instrument is.

        A DMI must be able to work reliably within many different contexts, from practice to performance.

        This quality measures the strength of the physical or virtual elements of a DMI.
      </Quality>

      <Quality title="Flexibility" icon="flexibility" tw="q !border-flexible mb-4">
        Flexibility examines how adaptable an instrument is.

        The more flexible a DMI is, the more it can be adjusted to a musician's style or needs.

        This quality measures the level of flexibility afforded by the physical or virtual elements of a DMI.
      </Quality>

      <Quality title="Practicality" icon="practicality" tw="q !border-practical mb-4">
        Practicality observes how quickly an instrument can be set up.

        This is an important quality for a DMI to succeed in inclusive music settings and live performance.

        This quality measures the speed of setup for the physical or virtual elements of a DMI.
      </Quality>

      <Quality title="Complexity" icon="complexity" tw="q !border-complex mb-4">
        Complexity explores how complex the user interface of an instrument is.

        This quality measures the level of complexity introduced by the physical or virtual elements of a DMI.
      </Quality>

      <Quality title="Compatibility" icon="compatibility" tw="q !border-compatible mb-4">
        Compatibility looks at how well an instrument integrates with a musician's existing setup. This includes whether the DMI supports any form of assistive technology.

        This quality measures the level of compatibility offered by the physical or virtual elements of a DMI.
      </Quality>

      ## Guidelines

      These guidelines offer ways to improve accessibility of an instrument based on each of the five qualities.

      1. __Durability__: A DMI should be able to withstand the physical demands of practising and performing.
          1. Provide alternatives to physical connections.
          2. Safeguard against accidental damage.
          3. Provide stable operation for long periods of time.
      2. __Flexibility__: A DMI should accommodate many musical and playing styles.
          1. Offer more than one way of interacting with the DMI.
          2. Allow the musician to alter the interaction settings.
          3. Provide the ability to adapt the musician's interface.
      3. __Practicality__: A DMI should be easy to introduce to a musician's setup.
          1. Aim for 'plug in and play'
          2. Provide any specialist adaptors that may be required
          3. Enable the ability to recall settings or musician profiles
      4. __Complexity__: A DMI should be simple enough for all levels of musicians to understand.
          1. Provide options to minimise the detail of an interface
          2. Ensure the interface can be understood in many contexts
          3. Provide clear feedback in response to actions
      5. __Compatibility__: A DMI should be compatible with a musician's setup, including hardware, software, and assistive technologies.
          1. Expose the interface to assistive technologies
          2. Offer multiple ways to mount the instrument
          3. Allow open communication with the instrument

      ## Reviewing DMIs using the FAME framework

      Try out our [evaluation tool](/tool)!


    </Markdown>
  </div>
</Layout>

<style>
p {
  @apply leading-snug;
}


.q p {
  background: red;
}
/* .quality-box {
  @apply border-2 rounded mb-4;
}
.quality-box p {
  @apply mt-2;
} */
</style>
