---
import { Markdown } from 'astro/components';
import Layout from '../layouts/Layout.astro';
import Tool from '../components/Tool.vue';
---
<Layout title="Evaluation Tool">
  <h1 class="page-title mb-4">Evaluation Tool</h1>
   <div class="prose sm:prose-lg max-w-full mb-8">
    <Markdown>
      This evaluation tool can be used to build an accessibility profile of a digital musical instrument (DMI), related to the five core qualities outlined in the [framework](/framework).

      It is important to note this is not designed to be an 'accessibility score' and rather an holistic overview of how an instrument performs against the core qualities. Once submitted, we will provide the outcome of the answers.

      _Your answers to the form will be saved to our database of instruments which can later be used to support musicians and facilitators find the instruments that work for them._
    </Markdown>
  </div>
  <Tool client:load />

  <!-- These questions are accompanied by a set of 10 open questions, found in part two. These open questions invite a more reflective look at an instrument's potential barriers to accessibility. -->
</Layout>
