---
import { Markdown } from 'astro/components';
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Resources">
  <h1 class="page-title mb-4">Resources</h1>
  <article class="prose sm:prose-lg max-w-full mb-16">
    <Markdown>
    As well as the [framework](/framework) and [evaluation tool](/tool), here are additional resources to understand the accessibility of instruments and understand facilitated performace.

    - [Further, open-ended, review questions](/resources/questions)
    - [A guide to facilitated performance](/resources/facilitated-performance)
    - [Worksheet for facilitators](/assets/worksheet.pdf)
    </Markdown>
  </article>
</Layout>
