---
import { Markdown } from 'astro/components';
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Home">
  <h1 class="page-title mb-4">Resources</h1>
  <article class="prose sm:prose-lg max-w-full mb-16">
    <Markdown>
    - [Questions](/resources/questions)
    - [A Guide to Facilitated Performance](/resources/facilitated-performance)
    - [Worksheet](/assets/worksheet.pdf)
    </Markdown>
  </article>
</Layout>
