---
import '../styles/global.css';
import Icon from '../components/Icon.vue'
const { title } = Astro.props;
const { url } = Astro.request
const { pathname } = url
---
<html lang="en">
  <head>
    <title>{ title } | Accessible Instruments</title>

    <meta name="title" content={title + ' | Accessible Instruments'}>
    <meta name="description" content="A collection of resources to understand the accessibility of digital musical instruments.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://accessibleinstruments.org">
    <meta property="og:title" content={title + ' | Accessible Instruments'}>
    <meta property="og:description" content="A collection of resources to understand the accessibility of digital musical instruments.">
    <meta property="og:image" content="https://accessibleinstruments.org/share.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://accessibleinstruments.org">
    <meta property="twitter:title" content={title + ' | Accessible Instruments'}>
    <meta property="twitter:description" content="A collection of resources to understand the accessibility of digital musical instruments.">
    <meta property="twitter:image" content="https://accessibleinstruments.org/share.png">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#da532c">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;600&family=Inter:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body class="px-4 flex flex-col min-h-screen">
    <header class="border wrapper bg-white shadow mt-4 sm:mt-8 mb-4 rounded mx-2 p-4 py-2 flex flex-col sm:flex-row sm:justify-between w-full">
        <nav class="sm:space-x-4 flex flex-col sm:flex-row">
          <a href="/" class={pathname === '/' && 'font-bold'}>Home</a>
          <a href="/framework" class={pathname === '/framework' && 'font-bold'}>Framework</a>
          <a href="/tool" class={pathname === '/tool' && 'font-bold'}>Evaluation Tool</a>
          <a href="/resources" class={pathname.includes('/resources') && 'font-bold'}>Resources</a>
        </nav>
        <div class="hidden sm:flex gap-2 py-2">
          <Icon name="durability" tw="h-6 w-6" />
          <Icon name="flexibility" tw="h-6 w-6" />
          <Icon name="practicality" tw="h-6 w-6" />
          <Icon name="complexity" tw="h-6 w-6" />
          <Icon name="compatibility" tw="h-6 w-6" />
        </div>
    </header>
    <main class="wrapper py-4 flex-1 w-full">
      <slot />
    </main>
    <footer class="w-full border wrapper bg-white shadow mb-4 sm:mb-8 rounded mx-2 p-4">
      <p class="text-center">Accessible Instruments is a project by accessibility consultant A Dickens. <a class="underline" href="https://twitter.com/RedRoxProjects">Twitter</a>. <a href="mailto:amy@adickens.co.uk" class="underline">Email</a>.</p>
    </footer>
  </body>
</html>

<style>
nav a {
  @apply py-2 inline-block;
}
</style>
